<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center" routerLink="/dashboard">
      <!-- <img src="logo.jpg" alt="Company Logo" class="navbar-logo me-2"> -->
      <span class="company-name">CÔNG TY S&P</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link" routerLink="/don-yeu-cau" routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">
            Đơn yêu cầu
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/lich-nghi" routerLinkActive="active">
            Lịch Nghỉ
          </a>
        </li>

        <li class="nav-item" *hasRole="[APP_ROLES.GIAM_DOC, APP_ROLES.TRUONG_PHONG]">
          <a class="nav-link" routerLink="/quanlynhanvien" routerLinkActive="active">
            Quản lý nhân viên
          </a>
        </li>

        <li class="nav-item" *hasRole="[APP_ROLES.GIAM_DOC, APP_ROLES.TRUONG_PHONG]">
          <a class="nav-link" routerLink="/phongban" routerLinkActive="active">
            Phòng ban
          </a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false" routerLinkActive="active">
            Hệ thống / Cài đặt
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/change-password">Đổi mật khẩu</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" routerLink="/sessions">Phiên đăng nhập</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" routerLink="/telegram">Cài đặt Telegram</a></li>
          </ul>
        </li>

      </ul>

      <button class="btn btn-danger" (click)="logout()">Đăng xuất</button>
    </div>
  </div>
</nav>